langchain
langchain-core
langchain-community



langchain-openai
langchain-mistralai
openai
mistralai



chromadb



sentence-transformers



pypdf
unstructured
beautifulsoup4
lxml



tiktoken







pandas
numpy



fastapi
uvicorn



streamlit



tqdm
requests